<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="projectdir" value="${basedir:dir=../../../}" />
	<targets>
		<target name="file" xsi:type="File"
				fileName="${var:projectdir}/Logs/log.txt"
				layout="${longdate}|${level}|${logger}|${message} ${exception:format=ToString}"/>

		<target name="console" xsi:type="Console"
				layout="${level}|${logger}|${message} ${exception:format=ToString}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="file,console" />
	</rules>
</nlog>