<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="pizza-list">
        <div class="pizza-card">
            <div class="pizza-card-header">
                <span class="pizza-card-hit">Hit</span>
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/capriccio_1.jpg" />
                <span class="pizza-card-name">Capriccio</span>
            </div>
            <div class="pizza-card-description">
                Сыр моцарелла, Соус "Барбекю", Соус "Кальяри", Пепперони, Овощи гриль,
                Бекон, Ветчина, Томаты черри, Шампиньоны
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable"> 30 см </span>
                    <span class="size active"> 40 см </span>
                    <span class="size"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">740Р</span>
                <span class="pizza-card-weight">980 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/xxxl_1.jpg" />
                <span class="pizza-card-name">XXXL</span>
            </div>
            <div class="pizza-card-description">
                Сыр моцарелла, Соус "1000 островов", Куриный рулет, Ветчина, Колбаски охотничьи, Бекон, Сервелат, Огурцы маринованные, Томаты черри
                Маслины, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size"> 30 см </span>
                    <span class="size active"> 40 см </span>
                    <span class="size disable"> 60 см </span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">880Р</span>
                <span class="pizza-card-weight">1440 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/4_vkusa_1.jpg" />
                <span class="pizza-card-name">4 вкуса</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Рулет куриный, Ветчина, Пепперони, Сыр пармезан, Шампиньоны, Томаты свежие, Маслины/оливки
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active"> 30 см </span>
                    <span class="size"> 40 см </span>
                    <span class="size disable"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size disable">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">530Р</span>
                <span class="pizza-card-weight">540 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/amazonka_1.jpg" />
                <span class="pizza-card-name">Амазонка</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Куриная грудка, Брокколи, Огурцы маринованные, Перец болгарский, Шампиньоны, Томаты черри, Маслины, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active"> 30 см </span>
                    <span class="size"> 40 см </span>
                    <span class="size"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size disable">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">600 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/bananzza_1.jpg" />
                <span class="pizza-card-name">БананZZа <span class="baby"></span></span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Куриная грудка, Брокколи, Огурцы маринованные, Перец болгарский, Шампиньоны, Томаты черри, Маслины, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active"> 30 см </span>
                    <span class="size"> 40 см </span>
                    <span class="size"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size disable">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">600 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/amazonka_1.jpg" />
                <span class="pizza-card-name">Барбекю</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Ветчина, Бекон, Пепперони, Соус "Барбекю", Томаты, Перец болгарский, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active"> 30 см </span>
                    <span class="size"> 40 см </span>
                    <span class="size"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size disable">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">570Р</span>
                <span class="pizza-card-weight">590 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/hawai_1.jpg" />
                <span class="pizza-card-name">Гавайская</span>
            </div>
            <div class="pizza-card-description">
                Ветчина, Соус "Гавайский", Сыр моцарелла, Ананас, Перец болгарский
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active"> 30 см </span>
                    <span class="size"> 40 см </span>
                    <span class="size"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size disable">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">530Р</span>
                <span class="pizza-card-weight">550 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img"
                     src="https://cagliari.delivery/images/dishes/hawai_premium_1.jpg" />
                <span class="pizza-card-name">Гавайская Premium</span>
            </div>
            <div class="pizza-card-description">
                Соус "Гавайский", Сыр моцарелла, Ананас, Ветчина, Куриный рулет, Кукуруза, Перец болгарский
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active"> 30 см </span>
                    <span class="size"> 40 см </span>
                    <span class="size"> 60 см </span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size disable">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">590 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/grek_1.jpg" />
                <span class="pizza-card-name">Греческая</span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Сыр моцарелла, Сливочный сыр, Брокколи, Томаты черри, Перец болгарский, Маслины
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">560 ₽</span>
                <span class="pizza-card-weight">570 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/gribnaya_1.jpg" />
                <span class="pizza-card-name">Грибная</span>
            </div>
            <div class="pizza-card-description">
                Соус "Грибной", Сыр моцарелла, Опята маринованные, Укроп, Шампиньоны, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">530 ₽</span>
                <span class="pizza-card-weight">550 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/derevenskaya_1.jpg" />
                <span class="pizza-card-name">Деревенская</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Ветчина, Сервелат, Огурцы маринованные, Опята маринованные, Укроп, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">535 ₽</span>
                <span class="pizza-card-weight">560 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/domashnyaya_1.jpg" />
                <span class="pizza-card-name">Домашняя</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Ветчина, Сервелат, Томаты, Шампиньоны
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550 ₽</span>
                <span class="pizza-card-weight">510 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/don_bekon_1.jpg" />
                <span class="pizza-card-name">Дон Бекон</span>
            </div>
            <div class="pizza-card-description">
                Бекон, Соус "Кальяри", Сыр моцарелла, Ветчина, Томаты черри
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550 ₽</span>
                <span class="pizza-card-weight">550 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/diabolo_1.jpg" />
                <span class="pizza-card-name">Дьябло</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Ветчина, Соус "Кимчи", Халапеньо,  Томаты
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">560 ₽</span>
                <span class="pizza-card-weight">560 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/cagliari_1.jpg" />
                <span class="pizza-card-name">Кальяри</span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Креветки тигровые, Куриная грудка, Сыр моцарелла, Ананас, Соус "Унаги", Кунжут
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">580 ₽</span>
                <span class="pizza-card-weight">560 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/kolizey_1.jpg" />
                <span class="pizza-card-name">Колизей</span>
            </div>
            <div class="pizza-card-description">
                Соус "Греческий", Сыр моцарелла, Куриный рулет, Колбаски охотничьи, Соус "Кисло-сладкий", Томаты свежие, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">560 ₽</span>
                <span class="pizza-card-weight">660 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/korolevskaya_1.jpg" />
                <span class="pizza-card-name">Королевская</span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Сыр моцарелла, Бекон, Креветки тигровые, Сыр пармезан, Томаты черри
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">650Р</span>
                <span class="pizza-card-weight">580 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/krestyanskaya_1.jpg" />
                <span class="pizza-card-name">Крестьянская</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Ветчина, Бекон, Укроп, Томат, Шампиньоны, Лук маринованный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">535Р</span>
                <span class="pizza-card-weight">585 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/margarita_1.jpg" />
                <span class="pizza-card-name">Маргарита</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Сливочный сыр, Томаты черри
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">530Р</span>
                <span class="pizza-card-weight">460 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/morskaya_1.jpg" />
                <span class="pizza-card-name">Морская</span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Сыр моцарелла, Кальмар, Креветки тигровые, Мидии, Осьминог, Лимон, Укроп, Лук маринованный, Маслины
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">650Р</span>
                <span class="pizza-card-weight">550 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/myasnaya_sbornaya_1.jpg" />
                <span class="pizza-card-name">Мясная сборная</span>
            </div>
            <div class="pizza-card-description">
                Соус "Барбекю", Сыр моцарелла, Куриный рулет, Ветчина, Бекон, Сервелат, Томат, Перец болгарский, Лук маринованный, Маслины
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">580Р</span>
                <span class="pizza-card-weight">610 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/ostrov_pepperoni_1.jpg" />
                <span class="pizza-card-name">Остров пепперони</span>
            </div>
            <div class="pizza-card-description">
                Сыр моцарелла ×2, Соус "1000 островов", Пепперони, Томаты свежие
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">600 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/ohotnichya_1.jpg" />
                <span class="pizza-card-name">Охотничья</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Сервелат, Бекон, Колбаски охотничьи, Сливочный сыр, Сыр пармезан, Томат черри, Лук маринованный, Маслины
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">570Р</span>
                <span class="pizza-card-weight">560 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/peperoni_1.jpg" />
                <span class="pizza-card-name">Пепперони</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Пепперони
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">500Р</span>
                <span class="pizza-card-weight">410 гр</span>
                <span class="pizza-card-half-selector disable">1/2</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/pikantnaya_1.jpg" />
                <span class="pizza-card-name">Пикантная</span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Ветчина, Сливочный сыр, Сыр моцарелла, Сыр пармезан,
                Томаты свежие, Перец болгарский
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">560Р</span>
                <span class="pizza-card-weight">510 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/pinokio_1.jpg" />
                <span class="pizza-card-name">Пиноккио <span class="baby"></span></span>
            </div>
            <div class="pizza-card-description">
                Соус "Гавайский", Куриный рулет, Сыр моцарелла, Кукуруза
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">520Р</span>
                <span class="pizza-card-weight">510 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/cezar_1.jpg" />
                <span class="pizza-card-name">Пицца-Cezar</span>
            </div>
            <div class="pizza-card-description">
                Ветчина, Куриная грудка, Соус "Кальяри", Сыр моцарелла, Салат айсберг,
                Сыр пармезан, Соус "Спайси"
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">560Р</span>
                <span class="pizza-card-weight">640 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/burger_1.jpg" />
                <span class="pizza-card-name">Пицца-бургер</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Сыр моцарелла, Куриный рулет, Ветчина, Соус "Бургер",
                Сервелат, Кунжут, Перец болгарский
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size disable">40 см</span>
                    <span class="size active">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">570 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/sardiniya_1.jpg" />
                <span class="pizza-card-name">Сардиния</span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Сыр моцарелла, Брокколи, Сливочный сыр, Креветки тигровые,
                Томаты черри
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">590Р</span>
                <span class="pizza-card-weight">520 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/slavyanskaya_1.jpg" />
                <span class="pizza-card-name">Славянская</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Картофельные дольки, Бекон, Ветчина,
                Огурцы маринованные, Лук маринованный, Зелень, Томаты свежие
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">560 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/sladkaya_italiya_1.jpg" />
                <span class="pizza-card-name">Сладкая Италия</span>
            </div>
            <div class="pizza-card-description">
                Соус "Сливочный", Груша консервированная, Сыр моцарелла, Сыр с голубой плесенью,
                Орех грецкий, Мёд натуральный
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">610Р</span>
                <span class="pizza-card-weight">530 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/slivochno_ostraya_1.jpg" />
                <span class="pizza-card-name">Сливочно-острая 🌶️</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Сервелат, Бекон, Сливочный сыр,
                Соус "Кимчи", Халапеньо, Томаты
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size active">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">550Р</span>
                <span class="pizza-card-weight">580 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/solanka_1.jpg" />
                <span class="pizza-card-name">Солянка</span>
            </div>
            <div class="pizza-card-description">
                Соус "Барбекю", Сыр моцарелла, Колбаски охотничьи, Бекон, Сервелат, Огурцы маринованные,
                Лимон, Укроп, Томаты черри, Лук маринованный, Маслины
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size disable">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size active">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size disable">Традиционное</span>
                    <span class="size active">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">590Р</span>
                <span class="pizza-card-weight">600 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/cheese_1.jpg" />
                <span class="pizza-card-name">Сырная </span>
            </div>
            <div class="pizza-card-description">
                Сыр моцарелла, Сливочный сыр, Соус "Кальяри", Сыр фетаки, Сыр с голубой плесенью, Сыр пармезан
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">610Р</span>
                <span class="pizza-card-weight">550 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/tatarskaya.jpg" />
                <span class="pizza-card-name">Татарская</span>
            </div>
            <div class="pizza-card-description">
                Соус "Томатный", Куриный рулет, Сыр моцарелла, Конно-говяжья колбаса, Лук маринованный
                , Томаты, Шампиньоны, Перец болгарский
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">590Р</span>
                <span class="pizza-card-weight">580 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/fiesta_1.jpg" />
                <span class="pizza-card-name">Фиеста</span>
            </div>
            <div class="pizza-card-description">
                Соус "1000 островов", Сыр моцарелла, Куриный рулет, Колбаски охотничьи, Сливочный сыр,
                Сервелат, Опята маринованные,
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">570Р</span>
                <span class="pizza-card-weight">580 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/fiesta_1.jpg" />
                <span class="pizza-card-name">Филадельфия </span>
            </div>
            <div class="pizza-card-description">
                Соус "Кальяри", Сыр моцарелла, Лосось, Сливочный сыр, Авокадо
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">640Р</span>
                <span class="pizza-card-weight">510 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
        <div class="pizza-card">
            <div class="pizza-card-header">
                <img class="pizza-card-img" src="https://cagliari.delivery/images/dishes/fiesta_1.jpg" />
                <span class="pizza-card-name">Цезарь с лососем</span>
            </div>
            <div class="pizza-card-description">
                Сыр моцарелла, Соус "Кальяри", Томаты свежие,
                Лосось, Салат айсберг, Соус "Спайси", Сыр пармезан
            </div>
            <div class="pizza-card-selectors">
                <div class="size-selector">
                    <span class="size active">30 см</span>
                    <span class="size">40 см</span>
                    <span class="size">60 см</span>
                </div>
                <div class="type-selector">
                    <span class="size active">Традиционное</span>
                    <span class="size">Толстое</span>
                </div>
            </div>
            <div class="pizza-card-info">
                <span class="pizza-card-price">640Р</span>
                <span class="pizza-card-weight">550 гр</span>
            </div>
            <button class="in-cart-button">В корзину</button>
        </div>
    </div>
</body>
</html>
