<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="pizza-list">
    </div>
</body>
</html>
<script>
    const pizzas = [
            {
                name: "Capriccio",
                image: "/images/pizzas/capriccio_1.webp",
                description: " Сыр моцарелла, Соус \"Барбекю\", Соус \"Кальяри\", Пепперони, Овощи гриль, Бекон, Ветчина," +
                    " Томаты черри, Шампиньоны ",
                sizes: [
                    40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 500,
                weight: 800,
                showHalf: true,
                canHalf: false,
                isHit: true
            },
            {
                name: "XXXL",
                image: "/images/pizzas/xxxl_1.webp",
                description: "Сыр моцарелла, Соус \"1000 островов\", Куриный рулет, Ветчина, Колбаски охотничьи, Бекон," +
                    " Сервелат, Огурцы маринованные, Томаты черри, Маслины, Лук маринованный",
                sizes: [
                    30, 40
                ],
                price: 880,
                weight: 1440,
                showHalf: true,
                canHalf: true,
                isHit: false
            },
            {
                name: "4 вкуса",
                image: "/images/pizzas/4_vkusa_1.webp",
                description: "Соус \"1000 островов\", Сыр моцарелла, Рулет куриный, Ветчина, Пепперони, Сыр пармезан, " +
                    "Шампиньоны, Томаты свежие, Маслины/оливки",
                sizes: [
                    30, 40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 530,
                weight: 540,
                showHalf: false,
                canHalf: false,
                isHit: false
            },
            {
                name: "Амазонка",
                image: "/images/pizzas/amazonka_1.webp",
                description: "Соус \"Томатный\", Сыр моцарелла, Куриная грудка, Брокколи, Огурцы маринованные," +
                    " Перец болгарский, Шампиньоны, Томаты черри, Маслины, Лук маринованный",
                sizes: [
                    30, 40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 550,
                weight: 600,
                showHalf: true,
                canHalf: false,
                isHit: false
            },
            {
                name: "БананZZа",
                image: "/images/pizzas/bananzza_1.webp",
                description: "Соус \"1000 островов\", Сыр моцарелла, Рулет куриный, Ветчина, Пепперони, Сыр пармезан, " +
                    "Шампиньоны, Томаты свежие, Маслины/оливки",
                sizes: [
                    30, 40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 530,
                weight: 520,
                showHalf: true,
                canHalf: false,
                isHit: false
            },
            {
                name: "Барбекю",
                image: "/images/pizzas/barbeq_1.webp",
                description: "Соус \"Томатный\", Сыр моцарелла, Ветчина, Бекон, Пепперони, Соус \"Барбекю\", Томаты, " +
                    "Перец болгарский, Лук маринованный",
                sizes: [
                    30, 40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 570,
                weight: 590,
                showHalf: true,
                canHalf: true,
                isHit: false
            },
            {
                name: "Гавайская",
                image: "/images/pizzas/hawai_1.webp",
                description: "Ветчина, Соус \"Гавайский\", Сыр моцарелла, Ананас, Перец болгарский",
                sizes: [
                    30, 40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 530,
                weight: 550,
                showHalf: true,
                canHalf: false,
                isHit: false
            },
            {
                name: "Гавайская Premium",
                image: "/images/pizzas/hawai_premium_1.webp",
                description: "Соус \"Гавайский\", Сыр моцарелла, Ананас, Ветчина, Куриный рулет, Кукуруза, Перец болгарский",
                sizes: [
                    30, 40, 60
                ],
                types: [
                    "Традиционное", "Толстое"
                ],
                price: 550,
                weight: 590,
                showHalf: true,
                canHalf: false,
                isHit: false
            }
        ];
</script>