@model List<Task2.Models.PizzaModel>
@using Task2.RazorHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div id="pizza-container">
    @foreach (var pizza in Model)
    {
        @await Html.PartialAsync("PizzaPartials/_Card", pizza, new ViewDataDictionary(ViewData){
            { "IsHeaderLink", true}
        });
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>
<script>
    setRedirectToModalOnAllPizzas();
</script>