@model List<Task2.Models.PizzaModel>
@using Task2.RazorHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div id="pizza-container">
    @foreach (var pizza in Model)
    {
        @await Html.PartialAsync("PizzaPartials/_Card", pizza, new ViewDataDictionary(ViewData){
            { "IsHeaderLink", true}
        });
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).on('click', '.pizza-card-img', function() {
        const parent = $(this).closest('.pizza-card');
        const pizzaId = parent.data('id');
        if(pizzaId){
            $.ajax({
                url: "Home/GetPizzaById",
                type: "GET",
                data: { id: pizzaId },
                dataType: "html",
                success: function(data) {
                    $('#pizzaModal .modal-dialog').html(data);
                    $('#pizzaModal').modal('show');
                },
                error: function() {
                    $('#pizzaModal .modal-dialog').html('<div class="alert alert-danger">Ошибка загрузки данных</div>');
                    $('#pizzaModal').modal('show');
                }
            });

            $('#pizzaModal').on('hidden.bs.modal', function() {
                $(this).find('.modal-dialog').empty();
            });
        }
        else{
           console.log(parent, "не имеет атрибут data-id");
        }
    });
</script>