@model List<Task2.Models.PizzaModel>
@using Task2.RazorHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div id="pizza-container">
    @foreach (var pizza in Model)
    {
        @await Html.PartialAsync("PizzaPartials/_Card", pizza, new ViewDataDictionary(ViewData){
            { "IsHeaderLink", true}
        });
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).on('click', '.pizza-card-img', function() {
        const parent = $(this).closest('.pizza-card');
        const pizzaId = parent.data('id');
        if(pizzaId){
            window.location.href = `/Home/Details/${pizzaId}`;
        }
        else{
           console.log(parent, "не имеет атрибут data-id");
        }
    });
</script>